
<html >
<head>
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/noquestion.css">
</head>
<body>
  <div class="container">
    <img src="/images/Ilustrationroom.svg" alt="Ilustração da sala">
    <h4>Nenhuma pergunta por aqui...</h4>
    <p>Faça sua primeira pergunta e envie o <br />
      código dessa sala para outras pessoas!</p>
  </div>
</body>
</html>